@model Task2.Domain.Entities.Product

<h2>Ürünü Sil</h2>

<p>@Model.Name adlı ürünü silmek istediğinize emin misiniz?</p>

<form method="post">
    <button type="submit">Sil</button>
</form>

<a href="/Home/Index">Geri Dön</a>
